*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto' , sans-serif;
    margin: 0;
}

h1{font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}

ul{
    list-style: none;
}

li{
    font-size: 1.25em;
}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgb(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgb(0,0,0,0.5);
    color: white;
    background-color: #2f3c64;
}

button:hover{
    background-color: #566CA8;
    cursor: pointer;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{
    color: #2f3c64;
}

header{
    background-color: rgb(245,245,245);
}

header .logo{
    background-image: url('media/fm-dev-hex.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 25px 25px;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: #566CA8;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 70vh;
    color: white;
   background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.5)), 
            url('media/imagen3.png');
    background-repeat: no-repeat;
    background-position: center center;
}

#hero h1{
    color: white;
}

#section1 .container{
    text-align: center;
    padding: 200px 12px;
}

#section2{
    background-color: rgba(30,30,30);
    color: white;
    text-align: center;
}

#section2 .container{
    padding: 100px 0px;
}

#section2 h2{
    margin-top: 0;
    font-size: 3,2em;
}

#section2 h3{
    font-size: 3.5em;
    color: black;
    font-family: 'Romoto' , sans-serif;
}

#section2 p{
    display: none;
}

#section2 .carta{
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5))
        ,url('media/html.jpg');
}

.carta:nth-child(2){
    background-image: linear-gradient(
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5))
        ,url('media/css.jpg');
}

.carta:nth-child(3){
    background-image: linear-gradient(
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5))
        ,url('media/javascript.jpg');
}

#section3 .container{
    text-align: center;
    padding: 250px 12px;
}

#section3 li{
    margin: 15px 0px;
    font-weight: bold;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 8vw;
}

#final button{
    font-size: 5vw;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #section1 .container{
        display: flex;
        justify-content: space-evenly;
    }

    #section1 .texto{
        width: 50%;
        text-align: initial;
        padding-left: 30px;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #section1 h2{
        margin-top: 0px;
    }

    #section1 .img-container{
        background-image: url('media/imagen1.png');
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }

    #section2 .seccion2{
        display: flex;
        justify-content: center;
    }

    #section2 p{
        display: block;
        margin-bottom: 30px;
    }

    #section2 h2{
        font-size: 4em;
    }

    #section2 h3{
        margin-top: 0;
    }

    #section2 .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50,50,50,0.5);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5))
            ,url('media/html.jpg');
    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5))
            ,url('media/css.jpg');
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5))
            ,url('media/javascript.jpg');
    }

    #section3{
        background-image: url('media/logo-blanco.png');
        background-repeat: no-repeat;
        background-size: 500px;
        background-position: calc(100vw - 500px) 120px;
    }

    #section3 .container{
        text-align: initial;
    }

    #section3 ul{
        margin-left: 100px;
    }

    #final{
        background-color: #2f3c64;
    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }

}


@media (min-width: 1100px){
    #section3{
        background-position-x: calc(100vw - 750px);
    }
}